---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const formatDate = (date: Date) =>
    date.toLocaleDateString("pt-BR", {
        day: "2-digit",
        month: "2-digit",
        year: "numeric",
    }).replace(/\//g, "-");

export async function getStaticPaths() {
    const allPosts = await getCollection("posts", ({ data }) => {
        return import.meta.env.PROD ? data.draft !== true : true;
    });

    const uniqueTags = [...new Set(allPosts.flatMap(post => post.data.tags || []))];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts
            .filter((post) => post.data.tags?.includes(tag))
            .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());

        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={`Tag: #${tag}`} description={`Posts marcados com ${tag}`}>
    <section data-layout="post-index">
        <h2>
            <span></span> # {tag}
        </h2>

        {posts.length === 0 ? (
            <div data-layout="empty-state">
                <span>(；・∀・)</span>
                <span>nenhum post com essa tag...</span>
            </div>
        ) : (
        <div data-layout="post-list">
            {posts.map((post) => (
                <a
                    href={`/${post.id}/`}
                    data-layout="post-list-item"
                    data-vim-nav
                    tabindex="0"
                >
                    <time datetime={post.data.publishDate.toISOString()} data-layout="post-date">
                        {formatDate(post.data.publishDate)}
                    </time>
                    <span data-layout="post-title">
                        {post.data.title}
                    </span>
                    {post.data.draft && (
                        <span data-layout="post-draft">
                            <span is-="badge" variant-="orange">rascunho</span>
                        </span>
                    )}
                    {post.data.tags && post.data.tags.length > 0 ? (
                        <span data-layout="post-list-meta">
                            {post.data.tags && post.data.tags.length > 0 && (
                                <span data-layout="post-tags">
                                    {post.data.tags.map((tag) => (
                                        <span is-="badge" variant-="cyan">#{tag}</span>
                                    ))}
                                </span>
                            )}
                        </span>
                    ) : null}
                </a>
            ))}
        </div>
        )}
    </section>
</BaseLayout>
