---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const formatDate = (date: Date) =>
    date.toLocaleDateString("pt-BR", {
        day: "2-digit",
        month: "2-digit",
        year: "numeric",
    }).replace(/\//g, "-");

const posts = (await getCollection("posts", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
})).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout title="blog" description="meu pedacinho de história na internet">
    <section data-layout="post-index">
        <div data-layout="index-intro">
            <slot />
        </div>

        {posts.length === 0 ? (
            <div data-layout="empty-state">
                <span>(´・ω・`)</span>
                <span>nenhum post ainda...</span>
            </div>
        ) : (
        <div data-layout="post-list">
            {posts.map((post) => (
                <a
                    href={`/${post.id}/`}
                    data-layout="post-list-item"
                    data-vim-nav
                    tabindex="0"
                >
                    <time datetime={post.data.publishDate.toISOString()} data-layout="post-date">
                        {formatDate(post.data.publishDate)}
                    </time>
                    <span data-layout="post-title">
                        {post.data.title}
                    </span>
                    {post.data.draft && (
                        <span data-layout="post-draft">
                            <span is-="badge" variant-="orange">rascunho</span>
                        </span>
                    )}
                    {post.data.tags && post.data.tags.length > 0 ? (
                        <span data-layout="post-list-meta">
                            {post.data.tags && post.data.tags.length > 0 && (
                                <span data-layout="post-tags">
                                    {post.data.tags.map((tag) => (
                                        <span is-="badge" variant-="cyan">#{tag}</span>
                                    ))}
                                </span>
                            )}
                        </span>
                    ) : null}
                </a>
            ))}
        </div>
        )}
    </section>
</BaseLayout>
